.input-group-addon.black_marker{
    background: rgba(0, 0, 0, 0) url("../images/map-marker-64.png") no-repeat scroll left top;
    border-right: medium none;
    background-size: cover;
    min-width: 35px;
}
.no-border-right{
    border-right: medium none !important;
}
.no-border-left{
    border-left: medium none !important;
}
.padding-left-10{
    padding-left: 10px;
}
.icon-hotel{
    background: rgba(0, 0, 0, 0) url("../images/Home-64.png") no-repeat scroll left top;
    border-right: medium none;
    background-size: cover;
    min-width: 35px;
}
.icon-camera{
    background: rgba(0, 0, 0, 0) url("../images/Camera-Front-32.png") no-repeat scroll left top;
    border-right: medium none;
    background-size: cover;
    min-width: 35px;
}
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}